body{
background-color:rgb(212, 108, 48);
display: flex;
flex-direction: column;
}
#header-img{ 
    max-height: 140px;
    max-width: 200px;
    margin: 0px 0px 0px 0px;
}
header{
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100vw;
    font-family: Sans-serif;
    justify-content: space-between;
}
#carrito{
    width: 3vw;
    height: 4vh;
}
#dropdown-menu{
    padding: 5%;
}
.boton{
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 30px 10px 30px 10px;
    gap: 4px;
}
.header-button{
    color: rgb(212, 108, 48);
    width: 100%;
    font-family: Sans-serif;
    border: none;
    background: transparent;    
}
.header-button:hover {
    opacity: 1;
    background: tomato;
    color: white;
    transform: scale(1.2);
}
nav{
    display: flex;
    padding: 2%;
    background-color:rgb(212, 108, 48);
    width: 100%;
}
.a-button{
    color: white;
    width: 15%;
    font-family: Sans-serif;
    border: none;
    background: transparent;

}
.nav-button{
    color: white;
    width: 15%;
    height: 15%;
    font-family: Sans-serif;
    border: none;
    background: transparent;
}
.nav-button:hover {
    opacity: 1;
    background: tomato;
    letter-spacing: 2px;
    transition: 0.5s;
}

footer{
    display: flex;
    background-color: black;
    color: white;
    width: 100%;
    padding: 5%;
}